
 html,body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin:0;
  /* overflow-x: hidden; */
} 
 body {
  background-color:#fefae0;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  color:rgb(45, 79, 21); 
}
/* .background {
  width: 100%;
  height: auto;
} */

.navbar{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 40px;
  width: 100%;
  background-color: #dda15e;
  z-index: 1;
  text-align: left;
}
.navbar a {
  /* padding: 10px ; */
  text-align: right;
  font-size: 20px;
  color: aliceblue;
  padding-top: 10px;
}
a {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

/* #flex-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
} */
header {
  /* height: 600px;
  /* background-image: url(https://i.imgur.com/3qhBB0p.jpg); */
  /* background-image: url(https://i.imgur.com/gAImuBO.jpg?1); */
  /* background-image: url(https://i.imgur.com/WItwaWQ.png);
  background-repeat: no-repeat;
  background-size: contain; */ 
  /* flex-basis: 100%; */
  /* margin: -22px -25px 10px -10px; */
}
h1 {
  /* color: #495057; */
  color: #bc6c25;
  /* position: absolute; */
  top: 25px;
  left: 0px;
  /* width: 100%; */
  text-align: center;
  
}
#subheader {
  color:rgb(45, 79, 21);
  /* position: absolute; */
  width: 100%;
  text-align: center;
  /* top: 100px; */
  left: 0px;
}
#trees {
  max-width: 100%;
  height: auto;
}
.trees {
  position: relative;
  top: -25px;
}
form {
  color: #fefae0;
  border: 0px solid black;
  border-radius: 15px;
  background-color:  #bc6c25;
  padding: 50px 75px;
  margin: 20px;
  text-align: center;
  align-self: center;
}
.textbox{
  margin: 10px 5px 5px 5px;
}
.label {
  margin: 5px;
}
h2 {
  margin: 30px;

}
article{
  width: 85%;
  align-self: center;
}
p.body {
  margin: 30px;
  padding: 5px;
  text-align: justify;
}
p image {
  margin: 25px;
}
#graph {
  float: right;
  width: 35%;
  height: auto;
}
#nasa {
  float: left;
  width: 50%;
  height: auto;
  margin: 10px 10px 10px -10px;
}
#plane {
  position: relative;
  top: 0px;
  left: 0px;
  max-width: 30px;
  max-height: auto;
  overflow-x: hidden;

}
#plane-landing {
  max-width: 30px;
  max-height: auto;
}
#footer {
  text-align: center;
  background-color:  #dda15e;
  margin: 0;
  padding: ;
}
#footer p {
  margin: 5px;
  color:rgb(45, 79, 21); 
}
.social {
  height: 30px;
  width: 30px;
  padding: 5px;
  margin:0 ;
  
}
